:root {
    /*PRIMARY*/
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /*NEUTRAL*/
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    color: var(--white);
    background-color: var(--light-grayish-blue);
}

.wrap{
    padding: 50px;
}

.testimonial{
    padding: 1.5em 2em;
    border-radius: 10px;
}

.testimonial__autor{
    display: inline-flex;
    margin-bottom: 15px;
}

.testimonial__autor__avatar{
    border-radius: 50%;
    margin-right: 10px;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "a a b e"
      "c d d e";
  }

.violet { 
    background-color: var(--moderate-violet);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top left 80%;
    grid-area: a; 
}
.grey { 
    grid-area: b; 
    background-color: var(--very-dark-grayish-blue);
}
.white { 
    grid-area: c; 
    background-color: var(--white);
    color: var(--very-dark-blackish-blue);
}
.navy { 
    grid-area: d; 
    background-color: var(--very-dark-blackish-blue);
}
.light-grey { 
    grid-area: e; 
    background-color: var(--white);
    color: var(--very-dark-blackish-blue);
}














.author { 
    color: var(--very-dark-blackish-blue);
    font-size: 11px; 
    text-align: center; 
}

.author a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 800px) {
    body {
      min-width: 375px;
    }
}