:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --first-gradient: 135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 245, 245, 1) 100%;
    --second-gradient: 135deg, rgba(248, 191, 191, 1) 0%, rgba(238, 140, 140, 1) 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px
}

body {
    min-width: 1440px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: no-repeat url("../images/bg-pattern-desktop.svg"), linear-gradient(var(--first-gradient));
    background-position: top left;
    background-size: 100%;

}

.logo {
    position: relative;
    left: 20%;
    margin: 0 auto 100px 0;
}

.photo-mobile {
    display: none;
}

h1 {
    position: relative;
    left: 20%;
    font-size: 80px;
    letter-spacing: 20px;
    width: 50px;
    text-transform: uppercase;
    color: var(--desaturated-red);
    font-weight: 300;
}

h1 span {
    font-size: 70px;
    letter-spacing: 20px;
    font-size: 80px;
    width: 50px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
}

.text {
    width: 65%;
    position: relative;
    left: 20%;
    font-size: 22px;
    line-height: 40px;
    color: var(--desaturated-red);
    font-weight: 200;
    margin: 30px 0;
}

form {
    position: relative;
    left: 20%;
    width: 100%;
}

input {
    height: 65px;
    border-radius: 30px;
    width: 65%;
    border: 1px solid var(--desaturated-red);
    padding-left: 30px;
    background: transparent;
}

input::placeholder {
    color: var(--desaturated-red);
    font-size: 18px;
}

button {
    height: 70px;
    width: 110px;
    background: linear-gradient(var(--second-gradient));
    border-radius: 50px;
    box-shadow: 0px 16px 18px -12px rgb(238, 140, 140);
    cursor: pointer;
    border: none;
    position: absolute;
    left: 55%;
    top: -4%;
}

.attribution {
    font-size: 12px;
    text-align: center;
    margin: 15px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-size: 12px;
}

@media (max-width: 375px) {
    body {
        min-width: 375px
    }

    .wrap {
        flex-direction: column;

    }

    .logo {
        position: unset;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .photo-mobile {
        display: unset;
    }

    .right {
        display: none;
    }

    h1 {
        font-size: 50px;
        margin-top: 60px;
        letter-spacing: 15px;
        width: auto;
        position: unset;
        text-align: center;
    }

    h1 span {
        letter-spacing: 15px;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .text {
        position: unset;
        margin-left: 20px;
        text-align: center;
        font-size: 18px;
        width: 90%;
        line-height: 30px;
    }

    form {
        left: 8%;
    }

    input {
        height: 50px;
        border-radius: 30px;
        width: 65%;
    }

    input::placeholder {
        font-size: 14px;
    }

    button {
        height: 55px;
        left: 50%;
    }
}