* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 1444px;
    font-family: 'Inter', sans-serif;
    color: hsl(240, 38%, 20%);
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/pattern-bg.svg"), url("../images/pattern-curve.svg"), url("../images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: top 46% left 95%, bottom 0 left 0, top 38% left 23%;
}

.left {
    position: relative;
    left: 5%;
    width: 45%;
}

.text {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}

.person-bio {
    margin-top: 2rem;
}

.person-bio span {
    font-weight: 700;
    margin-right: 10px;
    color: hsl(240, 38%, 20%);
}

.person-bio p {
    color: hsl(240, 18%, 77%);
}

.photo img {
    box-shadow: 5px 5px 20px hsl(240, 18%, 77%);
}

button {
    height: 50px;
    width: 50px;
    border-style: none;
    transition: .4s;
    box-shadow: 17px 5px 20px hsl(240, 18%, 77%);
}

button:hover {
    background-color: #222;
}

.prev-btn {
    background-color: white;
    border-radius: 50% 0 0% 50%;
    position: absolute;
    top: 68%;
    left: 59%;
}

.next-btn {
    background-color: white;
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 68%;
    left: 62%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}