:root {
    /* PRIMARY */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* NEUTRAL */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 1.5rem auto;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.navigation{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.logo{
    padding: 10px;
}

.nav__option__a {
    padding: 20px;
    text-decoration: none;
    color: black;
    opacity: .7;
}

.nav__option__a:hover{
    opacity: 1;
}

.main__title {
    padding: 10px 200px;
}

.btn {
    height: 40px;
    border: 1px solid black;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
}

nav .btn:hover{
    background-color: var(--very-dark-violet);
    color: white;
}


.header__content {
    color: var(--very-light-gray);
    background-color: var(--dark-violet);
    display: flex;
    align-items: center;
    height: 650px;
    position: relative;
    margin: 50px 0 300px 0;
}

.header__content__left {
    width: 50%;
    padding: 0 100px;
}

h1,
.main__title {
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
}

h1::before{
    content: ' ';
    background-color: white;
    height: 3px;
    width: 10%;
    position: absolute;
}

.header__text{
    margin: 0 0 30px 0;
    opacity: .8;
    line-height: 25px;
}

.header__content__left .btn{
    border-color: white;
    color: white;
    letter-spacing: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.header__content__left .btn:hover{
    background-color: white;
    color: black;
}
  
.header__content__right {
    position: inherit;
    top: 20%;
    width: 50%;
}
  
.header__content__right img {
    width: 80%;
}

.header__background-left {
    position: absolute;
    left: 0;
    top: 75%;
}

.header__background-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.main__title {
    padding: 10px 100px;
}

.main__title::before{
    content: ' ';
    background-color: gray;
    height: 1px;
    width: 10%;
    position: absolute;
}

.main__boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
}

.box {
    width: 30%;
    opacity: .7;
    line-height: 25px;
}

.box__subtitle {
    font-size: 1.8rem;
    font-weight: 700;
}

section {
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--dark-violet);
    width: 85%;
    height: 180px;
    margin: 2rem auto;
    display: flex;
    margin-top: 100px;
}

.section__text {
    font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 3rem;
    margin: auto;
    width: 40%;
}

section .btn {
    border-color: white;
    color: white;
    margin: auto;
}

section .btn:hover{
    background-color: white;
    color: black;
}

footer{
    background-image: url("../images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--very-light-gray);
    margin-top: 100px;
}

.footer__row,
.footer__columns {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.footer__columns::before{
    content: ' ';
    background-color: rgb(165, 162, 162);
    height: 1px;
    width: 83%;
    position: absolute;
}

.socials,
.fab {
    padding: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.fab:hover{
    opacity: 1;
}

ul{
    list-style: none;
    padding: 10px;
}

.opacity{
    opacity: .7;
    padding: 20px 0;
}

li{
    line-height: 30px;
}

.author { 
    font-size: 11px; 
    text-align: center; 
    background-color: var(--very-light-gray);
    padding: 10px;
}

.author a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media (max-width: 600px) {

    .logo{
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    nav{
        padding: 0;
    }

    .nav__options{
        display: none;
    }

    .header__content {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        height: 850px;
        position: relative;
        margin: 50px 0 150px 0;
        background-image: url("../images/bg-pattern-intro-left-mobile.svg"), url("../images/bg-pattern-intro-right-mobile.svg");
        background-position: top 70% left, bottom right;
        background-repeat: no-repeat;
    }
    
    .header__content__left {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    h1,
    .main__title {
        font-family: 'DM Serif Display', serif;
        font-size: 3rem;
    }
    
    h1::before{
        display: none;
    }
    
    .header__text{
        margin: 0;
        margin-bottom: 30px;
    }
    
      
    .header__content__right {
        top: 5%;
        width: 100%;
    }
      
    .header__content__right img {
        width: 100%;
    }
    
    .header__background-left,
    .header__background-right {
        display: none;
    }

    .hamburger, .navigation {
        transition: transform .3s .1s ease-in-out;
    }

    .hamburger {
        padding: 10px; 
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }  

    .hamburger--active {
        transform: translateX(-160px);
    }

    .navigation {
        display: block;
        height: 100vh;
        width: 200px;
        background-color: var(--very-light-gray);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(200px);
        z-index: 1;
      }
      
    .navigation--active {
        transform: translateX(0px);
    }
      
    .navigation__list {
        position: absolute;
        margin-top: 50px;
        margin-left: 10px;
        text-align: left;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
      
    .navigation__item {
        margin: 20px 10px;
        margin-bottom: 20px;
    }

    .main__title {
        padding: 10px;
        margin: auto;
        text-align: center;
    }
    
    .main__title::before{
        content: ' ';
        background-color: gray;
        height: 1px;
        width: 30%;
        left: 30%;
        position: absolute;
    }
    
    .main__boxes {
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }
    
    .box {
        width: 100%;
        margin: 20px
    }
    
    .box__subtitle {
        font-size: 1.8rem;
        font-weight: 700;
    }

    section {
        background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
        background-position: top right;
        flex-direction: column;
        height: 350px;
    }
    
    .section__text {
        text-align: center;
        width: 80%;
    }
    
    footer{
        background-image: url("../images/bg-pattern-footer-mobile.svg");
    }
    
    .footer__row,
    .footer__columns {
        flex-direction: column;
        padding: 0;
        margin: auto;
        text-align: center;
    }
    
    .footer__columns::before{
        content: ' ';
        background-color: rgb(165, 162, 162);
        height: 1px;
        width: 80%;
        margin: 2rem;
        position: absolute;
    }

    footer .logo{
        padding: 50px 150px;

    }
}