
:root {
    /* PRIMARY */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* NEUTRAL */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: 'Karla', sans-serif;
    font-family: 'DM Serif Display', serif;
    font-size: 16px;
}

.author { 
    font-size: 11px; 
    text-align: center; 
}
.author a { 
    color: hsl(228, 45%, 44%); 
}