body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
}
.logo
{
	font-size: 50px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #ddd;
}
.navbar
{
	background-color: #00CED1;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}
.nav-link, .navbar-brand
{
	color: #ddd;
	text-decoration: none;
}
.dropdown-menu
{
	background-color: #00CED1;
	border: none;
}
.dropdown-item
{
	color: #eee;
	background-color: #00CED1;
}
.dropdown-item:hover
{
	color: #fff;
	background-color: #00CED1;
}
h1
{
	color: #ddd;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 30px;
}
.zwierzaki
{
	text-align: center;
}
.zwierzaki img
{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
.overlay
{
	position: relative;
	height: auto;
}
.overlay .link
{
	position: absolute;
	width: 100%;
	color: #fff;
	left:0;
	bottom: 0;
	background-color: #111;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.overlay .link p
{
	color: #fff;
	text-align: center;
}
.overlay:hover .link
{
	opacity: 0.8;
}
a:link
{
	color: #fff;
	text-decoration: none;
}
.zwierzaki p
{
	margin-top: 10px;
	margin-bottom: 20px;
}
@media (max-width: 575px) {
	.zwierzaki img {
		display: block;
		width: 100%;
		height: auto;
		padding: 10px 0;
	}
	.overlay .link {
		position: absolute;
		width: 100%;
		color: #fff;
		left: 0;
		bottom: 10px;
		background-color: #111;
		text-align: center;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
	.wpis
	{
		margin: 40px 20px;
		text-align: left;
		font-size: 15px;
	}
	.blockquote
	{
		font-size: 15px;
	}
	.list-group
	{
		text-align: center;
	}
}
.icon
{
	font-size: 20px;
	display: inline;
	margin-left: 5px;
}
.fb:hover
{
	background-color: #4668b3;
}
.yt:hover
{
	background-color: #d94348;
}
.tw:hover
{
	background-color: #3095d3;
}
.in:hover
{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer
{
	background-color: #222222;
	font-size: 12px;
	padding: 8px;
}
.footer
{
	margin-top: 5px;
}
a.sociallink
{
	color: #ddd;
	text-decoration: none;
}
.wpis
{
	text-align: justify;
	font-size: 16px;
	padding: 30px;
	margin-bottom: 40px;
}
.img-thumbnail
{
	max-width: 50%;
}
.list-group-item-dark
{
	background-color: #222;
	color: white;
}
.list-group-item-dark:hover
{
	color: white;
}
.list-group .active
{
	background-color: #00CED1 !important;
	color: white;
	cursor: default;
}