:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}
  
*, ::after, ::before {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-size: 12px;
    padding: 10px;
    margin: auto;
}

.row-top__left__img{
    height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.row-top{
    max-height: 530px;
}

.row-top,
.row-bottom{
    display: flex;
}

.row-top__left{
    position: relative;
}

nav {
    position: absolute;
    display: flex;
    padding: 3em 5em;
}

.nav__option {
    margin-left: 5em;
}

.nav__option__a {
    text-decoration: none;
    padding: 2.5em;
    color: white;
    cursor: pointer;
}

.row-top__right{
    padding: 80px 150px;
    position: relative;
    min-width: 50%;
}

h1{
    padding: 30px 0;
    font-size: 2rem;
}

.row-top__right__text,
.row-bottom__middle__text{
    line-height: 20px;
    color: var(--dark-gray);
}

.row-top__right__btn{
    border: none;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500;
    font-size: .9rem;
    margin: 30px 0;
}

.prev-btn,
.next-btn {
    background-color: black;
    border: none;
    padding: 30px;
    position: absolute;
    left: 10.5%;
    bottom: 0;
    cursor: pointer;
}

.prev-btn{
    left:0;
}

.row-bottom__left,
.row-bottom__right {
   width: 40%;
}

.row-bottom__middle{
    width: 50%;
}

.row-bottom__left img,
.row-bottom__right img{
   width: 100%;
}

.row-bottom__middle{
    padding: 6em 3em;
}

.row-bottom__middle__title{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.author { 
    font-size: 11px; 
    text-align: center; 
    padding: 10px;
}
.author a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media (max-width: 1200px) {

    body {
      min-width: 375px;
      overflow-x: hidden;
    }

    .row-top{
        max-height: 100%;
    }

    .row-top,
    .row-bottom{
    flex-direction: column;
    }
}