:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}
  
*, ::after, ::before {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-size: 12px;
    margin: auto;
}

.wrap {
    display: grid;
    grid-template-rows: 70vh 30vh;
    overflow: hidden;
}

.row-top{
    display: grid;
    grid-template-columns: 60% 40%;
}

.row-top__left {
    display: grid;
    
}

.row-top__left_img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

nav {
    position: absolute;
    display: flex;
    padding: 3rem;
    z-index: 1;
    top: 0;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 2rem;
}

.nav__option {
    text-decoration: none;
    list-style: none;
    padding: 2.5em;
    color: white;
    cursor: pointer;
}

.row-top__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
    position: relative;
}

h1{
    padding: 3rem 0;
    font-size: 2rem;
}

.row-top__right__text,
.row-bottom__middle__text{
    line-height: 20px;
    color: var(--dark-gray);
}

.row-top__right__btn{
    border: none;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500;
    margin: 30px 0;
}

.prev-btn,
.next-btn {
    background-color: black;
    border: none;
    padding: 30px;
    position: absolute;
    left: 10%;
    bottom: 0;
    cursor: pointer;
}

.prev-btn{
    left:0;
}

.row-bottom{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}





.author { 
    font-size: 11px; 
    text-align: center; 
    padding: 10px;
}
.author a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media (max-width: 1200px) {

    body {
      min-width: 375px;
      overflow-x: hidden;
    }

    .row-top{
        max-height: 100%;
    }

    .row-top,
    .row-bottom{
    flex-direction: column;
    }
}