body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;
	color: white;
	align-items: center;
	height: 100vh;
	font-family: monospace;
	font-size: 40px;
}