* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
    max-width: 1444px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}

.row {
    display: flex;
}

.logo img {
    margin: 30px;
    margin-left: 50px;
}

.row__mockup img {
    padding: 50px
}

.row__info {
    padding: 50px;
    color: white
}

.row__info__text {
    margin-top: 40px;
}

.row__info__text h1,
.row__info__text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.row__info__text p {
    margin-top: 30px;
    font-size: 18.5px;
    color: #ddd;
}

.row__info__btn {
    margin-top: 30px;
    border-radius: 30px;
    padding: 15px 50px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px 0px rgba(100, 100, 100, 0.8);
    color: hsl(257, 40%, 49%);
    font-size: 19px;
    opacity: 0.95;
    transition: 0.2s;
}

.row__info__btn:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: end;
    margin-right: 100px;
}

.socials__fb a,
.socials__tw a,
.socials__in a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
}

.socials__fb a {
    padding-left: 14px;
    padding-right: 14px;
}

.footer__end__attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 5px;
}

.footer__end__attribution a {
    color: cadetblue;
    text-decoration: none;
}