* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 60vh;
  background-color: #29a6dc;
  overflow: hidden;
  max-width: 1920px;
}

header>* {
  position: absolute;
  text-align: center;
}

header div.welcome {
  z-index: 1;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  top: 50%;
  left: 40%;
  transform: translate(-35%, -50%);
}

header h2 {
  font-weight: normal;
}

header button {
  font-family: 'Saira', sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-weight: 300;
  cursor: pointer;
}

header img {
  top: 61%;
  left: 50%;
  transform: translate(-50%, 0);
  filter: grayscale(100%);
  opacity: .7;
  height: 40%;
}

.type {
  display: inline-block;
  position: relative;
  letter-spacing: 3px;
}

.type::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #29a6dc;
  top: 0;
  right: 0;
  border-left: 3px solid black;
  animation: cursor 0.5s linear infinite, typing 1s steps(6) forwards 1;
}

h1 {
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

section {
  display: block;
  margin: 0 auto;
}

.col {
  box-sizing: border-box;
  text-align: center;
  padding: 2% 8%;
}

.col h2 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.col p {
  font-family: 'Saira', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

.col img {
  width: 100%;
  align-self: center;
}

.portfolio {
  display: flex;
  padding: 10px 8px 30px;
  flex-wrap: wrap;
}

.project {
  display: flex;
}

.web {
  display: flex;
}

.portfolio .web img {
  width: 100%;
  flex-grow: 1;
}

.portfolio .about {
  color: white;
  font-family: 'Saira',
    sans-serif;
  font-weight: normal;
  text-align: left;
  flex-basis: 60%;
}

.portfolio .about h2 {
  font-size: 13px;
  border-bottom: 2px solid white;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.portfolio .about p {
  font-size: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.portfolio .project {
  max-width: 1400px;
  margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
  background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even) {
  background-color: #29a6dc;
  flex-direction: row-reverse;
}

.slogan {
  text-align: center;
  background-image: url('../img/soldiers.jpg');
  background-size: cover;
  background-position: top center;
  padding: 30px 10px;
  color: white;
  background-attachment: fixed;
}

.slogan h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.slogan p {
  font-family: 'Saira', sans-serif;
  font-size: 18px;
}

.slogan p.author {
  margin-top: 20px;
  font-size: 12px;
}

.slogan .bg {
  padding: 30px 10px;
  background-color: rgba(0, 63, 114, 0.5);
}

.hobby .item {
  height: 50vh;
  margin: 10px 0 10px;
  position: relative;
}

.hobby .item {
  background-position: center;
  background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
  background-image: url('../img/powerlifting.jpg');
}

.hobby .item:nth-of-type(2) {
  background-image: url('../img/wot.jpg');
}

.hobby .item:nth-of-type(3) {
  background-image: url('../img/api.jpg');
}

.hobby .item p {
  position: absolute;
  font-family: 'saira', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, .5);
  font-size: 20px;
  padding: 5px 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.hobby h1 {
  font-family: 'saira condensed', sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.contact {
  background-color: #000;
  padding: 20px 20px;
  margin-top: 15px;
  display: flex;
}

.cotact h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contract .wrap {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
  width: 100%;
  font-family: 'Saira', sans-serif;
  font-size: 18px;
  padding: 10px;
}

.contact .textarea {
  height: 18px;
}

.contact button {
  font-size: 14px;
  line-height: 40px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
}

.fa:hover {
  opacity: 1;
}

.contact .socials {
  padding: 30px;
  font-size: 0;
}

.contact .social {
  display: inline-block;
  color: white;
  font-family: 'Saira', sans-serif;
}

.contact .social span {
  line-height: 28px;
  padding: 22px;
  font-size: 18px;
}

footer {
  background-color: #29a6dc;
  color: white;
  font-size: 'Saira', sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-family: 'Saira';
}

@media (orientation: landscape) {
  header div.welcome {
    text-align: left;
    width: 60%;
    top: 35%;
    left: 25%;
    font-size: 8px;
  }

  header h1 {
    font-size: 30px;
    text-align: left;
    margin: 0;
  }

  header h2 {
    font-size: 25px;
  }

  .type {
    font-size: 40px;
    margin: 0;
  }

  header img {
    top: 21%;
    left: 75%;
    filter: grayscale(0);
    opacity: 1;
  }

  header button {
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
    margin-top: 10px;
  }

  .web,
  .about {
    width: 50%;
    float: left;
  }

  .web img {
    display: block;
  }

  .portfolio .project:nth-of-type(even) .web {
    float: right;
  }

  .portfolio .project:nth-of-type(even) .about {
    padding-right: 0;
  }

  .portfolio .project:nth-of-type(even) .about p {
    padding-right: 20px;
  }

  .portfolio .project:nth-of-type(even) h2 {
    text-indent: 0;
    margin-left: 40px;
  }

  .slogan p {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 375px) {
  header h1 {
    font-size: 28px;
  }

  header h2 {
    font-size: 26px;
  }

  header button {
    line-height: 48px;
    margin-top: 38px;
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .features p {
    font-size: 16px;
  }

  .feature h2 {
    font-size: 24px;
  }

  .feature h1 {
    font-size: 30px;
  }

  .hobby .item {
    height: 30vh;
  }
}

@media (min-width: 768px) {
  .hobby h1 {
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .hobby .item p {
    font-size: 30px;
    padding: 15px 0;
  }

  .slogan .bg {
    padding: 50px 10px;
  }

  .slogan h1 {
    font-size: 48px;
    margin-bottom: 35px;
  }

  .slogan p {
    font-size: 26px;
    width: 60%;
    margin: 0 auto;
  }

  .slogan p.author {
    margin-top: 40px;
    font-size: 18px;
  }

  .portfolio h1 {
    font-size: 40px;
  }

  .portfolio .about h2 {
    font-size: 28px;
    text-indent: 40px;
  }

  .portfolio .about p {
    font-size: 12px;
    padding-left: 40px;
  }

  .portfolio .project {
    margin-bottom: 40px;
  }

  .features p {
    font-size: 18px;
  }

  .feature h2 {
    font-size: 28px;
  }

  .feature h1 {
    font-size: 34px;
  }

  .contact .socials {
    padding: 0px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {

  header div.welcome {
    text-align: left;
    top: 35%;
    left: 25%;
  }

  .type {
    font-size: 80px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 35px;
  }

  header button {
    line-height: 50px;
    font-size: 24px;
    padding: 0 10px;
  }

  header img {
    top: 32%;
    left: 75%;
    filter: grayscale(0);
    opacity: 1;
    height: 70%;
  }
}

@media (orientation: landscape) and (min-width: 812px) {
  header div.welcome {
    width: 50%;
    top: 49%;
    left: 25%;
    height: 60vh;
  }

  header img {
    top: 20%;
    left: 85%;
    height: 85%;
  }

  header button {
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .hobby .item {
    height: 65vh;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header div.welcome {

    width: 90%;
    top: 55%;
    left: 40%;
    font-size: 8px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .type {
    font-size: 80px;
  }

  header img {
    top: 21%;
    left: 80%;
    height: 80%;
  }

  header button {
    line-height: 50px;
    font-size: 30px;
    margin-bottom: -20px;
  }

  .hobby .item {
    margin: 3%;
  }

  .contact .socials {
    padding: 60px;
    text-align: center;
  }
}

@keyframes cursor {
  0% {
    border-color: black;
  }

  50% {
    border-color: black;
  }

  65% {
    border-color: transparent;
  }

  75% {
    border-color: transparent;
  }

  90% {
    border-color: black;
  }

  100% {
    border-color: black;
  }

}

@keyframes typing {
  to {
    width: 0;
  }
}