.section {
    padding: 4em 8em;
    font-family: "Roboto";
}

.title {
    position: absolute;
    left: 130px;
    top: 60%;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.8rem;
    color: #eeeeee;
}

.subtitle {
    position: absolute;
    width: 370px;
    left: 130px;
    top: 65%;
    font-family: 'Montserrat';
    font-size: 0.9rem;
    color: #c4c4c4;
}